<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Security Notice!</h1>
    <p>Someone has been trying to access your account!</p>
  </body>
</html>